body{
    margin: 0;
    padding: 0;
 
    color: #81878C;
    margin-top: 76px;
 
}

/*h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px 0;
    color: #2D3C48;
    font-weight: 400;
    letter-spacing: -1px;
}*/

@font-face {
    font-family: 'BwMitgaBlack';
    src: url('../fonts/BwMitgaLight/BwMitgaBlack.eot');
    src: 
    url('../fonts/BwMitgaLight/BwMitgaBlack.woff') format('woff'), 
    url('../fonts/BwMitgaLight/BwMitgaBlack.ttf') format('truetype'), 
    url('../fonts/BwMitgaLight/BwMitgaBlack.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*====CABECALHO====*/
.menu{
    background: #3E4651;
    padding: 22px 0 0;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);
    height: 78px;
    border: none;
}

.menu .navbar-nav > li {
    margin-right: 50px;
    padding-bottom: 22px;
}


.menu .navbar-nav > li.is-active > a{
    background:rgba(0,0,0,0.2);
    color: #FFF;
}

.menu .navbar-nav > li > a {
    text-transform: uppercase;
    color: #FFF;
    line-height: 1em;
    font-family: "helvetica neue", sans-serif;
    font-weight: 600;
    border-radius: 300px;
    padding: 9px 22px;
    opacity: 0.8;
}

.menu .navbar-nav > li > a:hover, .menu .navbar-nav > li > a:focus{
    opacity: 1;
    color: #FFF;
}

.menu .bolinha>a:before{
    content:'';
    display:inline-block;
    width:10px;height:10px;
    background:#009DDC;
    border-radius:100px;
    margin-right:3px;
}

.icon-caret-down {
    height: 6px;
    margin-left: 3px;
    opacity: .5;
    transition: opacity .35s ease;
    top: -2px;
}

/*DROP*/
.menu ul.nav li.dropdown:hover > .dropdown-menu {
    display: block;
}   

.menu .dropdown-menu{
    padding: 15px 27px;
    background: #333A42;
    border: none;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.09);
    min-width: 195px;
    margin-left: -73px;
    font-size: 14px;
    right: 50%;
    left: 50%;  
    border-radius: 0 0 5px 5px !important;
    min-width: 230px;
}

.dropdown-menu:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 58, 66, 0);
    border-bottom-color: #333A42;
    border-width: 8px;
    margin-left: -12px;
}

.dropdown-menu > .text-login-serv{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: solid 2px #474E55;
    padding-bottom: 13px;
    margin-bottom: 14px;
    display: block;
}

.menu .dropdown-menu li>a {
    color: #D4D6D7;
    text-align: center;
    -webkit-transition: all .25s ease;
    display: block;
    padding: 0px 0px 0px 0px;

}

.menu .dropdown-menu li > a:focus,
.menu .dropdown-menu li > a:hover {
    color: #fff;
    text-decoration: none;
    background: none;
}

.menu .navbar-brand {
    width: 173px;
    height: 54px;
    text-align: center;
    padding: 0;
    z-index: 3;
    transition: all 0.175s ease;
    position: absolute;
    top: 12px;
    left: 50%;
    right: 50%;
    margin: 0 0 0 -102px !important;
}
.menu .navbar-nav > li.link-servicos {
    margin-left: 225px;
}


/*=== CONTEUDO ===*/
.sobre{

}

.sobre > h1{
    text-align: center;
    font-family: 'BwMitgaBlack';
    color: #FFF;
    margin-top:35px;
    border-radius: 300px;
    text-shadow: 1px 0px 1px #4E4E4E;
    /*background: rgba(0, 0, 0, 0.2);*/



}

.maps-personalizado{
    width: 100%;
    height: 478px;
    background-color: #1A364C;
    color: #39B3D7;
    position: relative;
    z-index: 0;
    display: block;
}

.ipad-with-video {
    background: url(../img/ipad.png) no-repeat;
    width: 814px;
    height: 373px;
    right: 51px;
    position: relative;
    margin-top:-354px;
    bottom: 18px;
     
}

.section-title {
    font-size: 36px;
    line-height: 44px;
    color: #2F363F;
    font-weight: 600;
    font-family: "open-sans",sans-serif;
    border-left: 38px solid #45bbff;
 
}

p {
    margin: 0 0 10px
}
.lead {
    margin-bottom: 20px;
    line-height: 1.4;

    margin: 1.25em auto 6.15em;
    font-size: 16px;
    color: #81878C;
    font-weight: 400;
    text-align: justify;
}

.hr {
    margin: 0px 0;
    border-top: 1px solid #d7d7d7;
    text-align: center;
}
.hr.default-color {
    border-color: #45bbff;
}
.hr .btn {
    margin-top: -20px;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 20px;
    -webkit-transition: all 0.2s;
}
.btn + .btn {
    margin-left: 40px;
}
.btn:focus,
.btn:active {
    outline: 0 !important;
    box-shadow: none;
}
.btn-default,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover {
    background-color: #45bbff;
    color: #fff;
}
.btn-default:after,
.btn-default:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    border-radius: 50%;
}

.btn-default:before {
    right: 9px;
    box-shadow: 10px 0 0 0 #2cacf5;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-default:after {
    right: 0;
    box-shadow: 10px 0 0 0 #209fe8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-default:hover {
    background-color: #45bbff;
    color: #fff;
    padding: 10px 30px;
}
.btn-default:hover:after,
.btn-default:hover:before {
    box-shadow: none;
}


.newwwws{
    margin: 0px;
    padding: 0px;
}
.label.label-blue{
     background: #009DDC;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.3em;
    padding: .4em .6em;
    border-radius: 2px;
    letter-spacing: .15em;
    margin: 0 1em 0 0;
    text-indent: 1px;
    font-weight: 600

}

.article-excerpt {
    color: #81878c
}
.section-news {
    padding: 7px 0px 14px 0px;
    background: #fafafa;
    border-bottom: solid 1px #ebeded
}
.newwwws > li {
    list-style: none;
}
.section-news .label {
    position: relative;
    top: -2px
}

.section-news p {
    display: inline-block;
    margin: 0
}
.section-news a {
    color: #009DDC;
    font-weight: 600
}
.section-news a:hover {
    color: #0283B6
}

.page-header{
    border: none;
}

.feature-box {
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 1px #343C45;
}
.feature-box .feature-box-content {
    background:#344A57;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    padding: 50px 30px 38px;
    position: relative;
}
.feature-box .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 290px;
}
.feature-box .feature-box-content h4 {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0px 0px 7px;
    font-weight: 400;
    font-family: "open-sans",sans-serif;
}
.feature-box .feature-box-content p {
    margin: 0px 0px 20px;
    color: #fff;
    font-weight: 400;
    font-family: "open-sans",sans-serif;
}
.feature-box .feature-box-content .feature-box-icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    background: #FFFFFF;
    color: #344A57;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    top: -33px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: -1px -1px 0px #343C45;
}
.feature-box .feature-box-content .feature-box-icon i {
    /* NÃO SEI PQ N FUNCIONA*/
    position: absolute;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    font-size: 29px;
    position: relative;
    left: -1px;
    top: 5px;
}

/* ==== FUNDO CAMINHAO === */
.bg-caminhao {
    background-attachment: fixed;
    margin-top: 30px !important;
    padding-top: 93px !important;
    padding-bottom: 83px !important;
    background-image: url(../img/home3-bg.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-bottom: 50px;
}
.bg-caminhao h1,
.bg-caminhao h4 {
    color: #FFF;
    text-align: center;
    font-family: 'roboto';
    text-transform: uppercase;
    text-shadow: 1px 1px 8px #000;
}

.planos .title-box h4 {
    font-style: italic;
    font-size: 16px;
    color: #222222;
}
.carro-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 0px -6px -12px -6px;
}
.carro-lista>li {
    flex-grow: 1;
    flex-basis: 140px;
    height: 147px;
    cursor: pointer;
    padding-top: 25px;
    text-align: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    margin: 0px 6px 12px 6px;
    color: #A8B1B6;
    border-color: #E2E6E7;
    list-style: none;
}
.carro-lista>li:hover {
    color: #FFF;
    background-color: #199CDB;
    border-color: #199CDB;
}
.plano-lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: 30px -15px 0px -15px;
}
.plano-lista>li {
    flex-grow: 1;
    flex-basis: 210px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    position: relative;
    margin: 0px 15px 30px 15px;
    padding: 25px 20px 75px 20px;
    border-color: #E2E6E7;
    list-style: none;
}
.plano-lista>li>.plano-name {
    color: #222222;
    margin-top: 0px;
    margin-bottom: 20px;
}
.plano-lista>li>.plano-preco {
    margin-bottom: 30px;
}
.plano-lista>li>.plano-preco>span {
    line-height: 1;
}
.plano-lista>li>.plano-preco>span.plano-preco-total {
    top: 0px;
    font-size: 64px;
    font-weight: 300;
    position: relative;
    color: #199CDB;
}
.plano-lista>li>.plano-preco>span.plano-preco-moeda,
.plano-lista>li>.plano-preco>span.plano-preco-decimal {
    top: -28px;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    color: #199CDB;
}
.plano-lista>li>.plano-duracao {
    line-height: 1;
    border-style: solid;
    margin-bottom: 30px;
    padding: 15px 0px 15px 0px;
    color: #A8B1B6;
    border-width: 1px 0px 1px 0px;
    border-color: #E2E6E7;
}
.plano-lista>li>.plano-servico>li {
    text-align: left;
    list-style-position: inside;
    color: #777777;
}
.plano-lista>li>.plano-servico {
    margin-bottom: -30px;
}

.contato{
    margin-top: 50px;
}

.custom-bg-contatos{
    height: 460px;
    background: #343C45 url(../img/world-map-600x337_c.png) !important;
    background-position: 60px 60px !important;
    background-repeat: no-repeat !important;
}

.title-contatos {
    color: #FFF;
    font-size: 20px;
    margin: 30px 60px;
    font-family: "open-sans",sans-serif;
    font-weight: 600;
}
.info-contatos {
    color: #FFF;
    font-size: 14px;
    margin: 20px 60px;
    font-family: "open-sans",sans-serif;
    line-height: 20px;

}

.separador-contatos{
    float: left;
    width: 100%;
    margin: 20px 0px;
    display: block;
    clear: both;
    border-top: 1px dashed;
}

.info-contatos > .icon-phone-2,
.info-contatos > .icon-envelope{
    font-size: 29px;
    position: relative;
    left: -2px;
    top: 28px;
}

.info-contatos > p{
    margin-left: 30px !important;
    margin-top: -10px;
}


.social-rede {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.social-rede>li {
    cursor: pointer;
    padding-right: 16px;
    padding-top: 14px;
    text-align: center;
    margin: 0px 0px 0px 20px;
    color: #A8B1B6;

    border: 1px solid #E2E6E7;;
    list-style: none;

    color: #0ba6dd;
    border-radius: 10px;
    text-align: center;

    width: 44px;
    height: 44px;
    transition-duration: 0.5s;
    transform: rotate(45deg);
   -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.social-rede>li:hover {
    border: 1px solid #43B5E2;
    transition-duration: 0.5s;
    transition-delay: 0.1s

}

.social-rede>li a{
    color: #FFF;
    position: absolute;
     transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    width: 12px;
    height: 12px;
    text-decoration: none;
}


.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-top: solid 1px #343C45;
    color: #343C45;
}

/* === MENU FLUTUANTE PARA MOBILE === */
.left-toggle {
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    top: -5px;
    left: 0px;
    cursor: pointer;
    float: right;
    display: none;
    z-index: 10000;
}
a:hover.left-toggle {
    text-decoration: none;
}
.left-toggle i {
    height: 40px;
    width: 40px;
    display: block;
    color: #FFF;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.menu-flutuante {
    width: 100%;
    position: absolute;
    margin: 0px;
    height: auto !important;
    background-color:#3E4651;
    z-index: 50000;
    display: none;
    position: fixed;
}
.side-navigation {
    margin: 0px;
}
.side-navigation li>ul {
    margin: 0px;
    background: #FFF;
}
.side-navigation li {
    list-style: none;
    position: relative;
    margin-left: -40px;
    margin-top: 1px;
    /*border-bottom:rgba(255, 255, 255, .5) 1px solid;*/
    
    box-shadow: inset 0 -1px 0 rgba(000, 000, 000, .2);
}
.side-navigation>li>a {
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: #FFF;
    padding: 0 20px;
    text-align: center;
}
.side-navigation>li>a:hover {
    background: #6D92A7;
    color: #fff;
    text-shadow: 0 1px 0 rgba(000, 000, 000, .4);
}
.side-navigation li>ul {
    border-bottom: #6f7683 1px solid;
    border-top: #6f7683 1px solid;
}

/* ==== PACE === */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #009DDC;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}