body{
   background-color: #FFF;
   width: 100%;
   font-size: 12px;
   margin: 0px;
   padding: 0px;
   font-family: arial,verdana;
   padding-top: 89px;
}

.menu {
	background-color: #4F7083;
	height: 89px;
	box-shadow: inset 0px -3px 10px 0px #3C5462;

}

.logomarca-brand{
	margin-top: 28px;
	margin-left: 30px;
}
.menup{
	margin-top: 18px;
}
.menup>li>a {
	font-family: 'roboto';
    transition: all 0.4s ease-in-out;  
	text-decoration: none;
	color: #FFF;
	text-shadow: 1px 0px 2px #2D404A;
	font-size: 18px;
}

.nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.menup>li>a:hover, a:active {
	background-color: #4D6B7D;
	color: #FF7F00;
	border-radius: 5px;
}

.login {
	width: 129px;
	height: 105px;
	background-color: #D97155;
	margin-top: -10px;
	border-radius: 0 0 12px 0px;
	font-family: 'roboto';
	font-size: 20px;
	box-shadow: -1px 0px 2px #2D404A;
	color: #FFF;
	z-index: 1;
	margin-left: 95px;

}
.welcome {
	top: 27px;
	left:0px;
	position: relative;
	text-align: center;
}

/*=======LEFT SIDE TOGGLE========*/
.left-toggle {
    height:40px;
    width:40px;
    display:block;
    position:absolute;
    top:20px;
    left:-10px;
    cursor:pointer;
    float: right;
    display:none;
}
a:hover.left-toggle {
    text-decoration:none;
}
.left-toggle i {
    height:40px;
    width:40px;
    display:block;
    color:#FFF;
    font-size:24px;
    text-align:center;
    line-height:40px;
}
/*=======LEFT SIDE TOGGLE END========*/

.linha-colorida {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(73, 197, 135, 1) 0%, rgba(73, 197, 135, 1) 1%, rgba(75, 201, 226, 1) 6%, rgba(255, 117, 117, 1) 13%, rgba(240, 200, 81, 1) 20%, rgba(141, 116, 185, 1) 27%, rgba(248, 118, 79, 1) 34%, rgba(73, 197, 135, 1) 42%, rgba(75, 201, 226, 1) 49%, rgba(255, 117, 117, 1) 56%, rgba(73, 197, 135, 1) 63%, rgba(255, 117, 117, 1) 70%, rgba(240, 200, 81, 1) 77%, rgba(141, 116, 185, 1) 84%, rgba(248, 118, 79, 1) 91%, rgba(73, 197, 135, 1) 98%, rgba(73, 197, 135, 1) 100%) repeat scroll 0 0;
    height: 4px;
    width: 100%;
}

.maps-personalizado {
	width: 100%;
	height: 201px;
	background-color:#1A364C;
	color: #39B3D7;
	position: absolute;
	z-index: 0;
	top: 92px;
}

.slidep {
	width: 100%;
	height: 200px;
	color: #3985c5;
	text-shadow:0 1px 0 rgba(0, 0, 0, .5);
	
}

.button-sistema{
	font-size: 20px;
	background-color: #3985c5;
	border: 1px; 
	border-color: #3985c5;
	border-radius: 3px; 
	text-align: center; 
	padding: 14px 10px 15px 10px;

	font-family: Helvetica;
	margin-top:62px;
}
.top-buffer { margin-top:10px; }

.servicos {
	margin-top: 40px;
	font-size: 18px;
	color: #333745;
	font-weight: 700px;
	text-align: center;
	font-family: arial;
}

.title-line{
	color: #EBAB00;
}

.servicos i {
	  font-size:30px;
	  color: #4F7083;
}

.sistema-bg img{
	max-width:100% !important;
    height:auto;
    display:block;
}

.footer {
  
  bottom: 0;
  width: 100%;
  height: 150px;

  background-color: #292D38;
}

ol{
	color: #FFF;
	margin-top: px;
}

/* ==== MENU FLUTUANTE ===*/

.menu-flutuante{

 	width: 100%;
 	position: absolute;
 	margin: 0px;
 	height: auto !important;

 	background-color: #eee;
 	z-index: 50000;
 	display: none;

}

.side-navigation {
    margin:0px;
}
.side-navigation li>ul {
    margin:0px;
    background:#eee;
}
.side-navigation li {
    list-style:none;
    position:relative;
    margin-left: -40px;
    margin-top: -1px;
    border-bottom:rgba(255, 255, 255, .5) 1px solid;
    box-shadow:inset 0 -1px 0 rgba(000, 000, 000, .2);
}
.side-navigation>li>a {
    display:block;
    line-height:40px;
    text-decoration:none;
    color:#222;
    padding:0 20px;
    text-align: center;
}

.side-navigation>li>a:hover {
    background:#6f7683;
    color:#fff;
    text-shadow:0 1px 0 rgba(000, 000, 000, .4);
}
.side-navigation li>ul {
    border-bottom:#6f7683 1px solid;
    border-top:#6f7683 1px solid;
}